<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
 <h2 slot="end" color="light" class="toolbar"> Welcome to our Application</h2>
  </ion-toolbar>
</ion-header>
<ion-content class="background-image" no-scroll padding >
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <p class="areu" > Are you : </p>

<ion-button color="secondary"  expand="block" shape="round"  size="small" class="font"  (click)="toPageOwner()"> renter
  <ion-icon slot="start" name="man-outline"></ion-icon>
</ion-button>
<br>
<br>
<br>
<ion-button color="secondary" expand="full" shape="round " size="small" class="font" (click)="toPageStudent()"> landlord
  <ion-icon slot="start" name="school-outline"></ion-icon>
</ion-button>
</ion-content>
<ion-icon></ion-icon>

